{% extends "base.html" %}

{% block title %}My recipes{% endblock %}

{% block content %}

{% if latest_recipe_list %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Recipe</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for recipe in latest_recipe_list %}
        <tr>
          <td><a href="/shopping/{{ recipe.id }}/">{{ recipe.name }}</a></td>
          <td><a href="/shopping/edit/{{ recipe.id }}"><i class="glyphicon glyphicon-edit"></i></a></td>
          <td><a href="/shopping/delete/{{ recipe.id }}"><i class="glyphicon glyphicon-remove"></i></a></td>
        <tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
    <p>No recipes are available.</p>
{% endif %}


<a href="{% url "shopping:recipe_new" %}">Add</a>

{% endblock %}
