{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block title %}{% trans "My meals" %}{% endblock %}

{% block content %}

<div id='calendar'></div>

<button class="btn btn-primary" data-toggle="modal" data-target="#createMealModal">
  {% trans "Add new meal" %}
</button>

<!-- Modal -->
<div class="modal fade" id="add-meal-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">{% trans "Add new meal" %}</h4>
      </div>
      <form class="form" id="add-meal-form" role="form" action="" method="post">
        <div class="modal-body" id="add-meal-form-body">
            {% csrf_token %} 
            
            {{ form|bootstrap }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">{% trans "Add meal" %}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="edit-meal-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">{% trans "Edit meal" %}</h4>
      </div>
      <form class="form" id="edit-meal-form" role="form" action="" method="post">
        <div class="modal-body" id="edit-meal-form-body">
            {% csrf_token %} 
            
            {{ form|bootstrap }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">{% trans "Edit meal" %}</button>
        </div>
      </form>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(function() {
         $(".datepicker").datepicker({
           dateFormat: "dd/mm/yy",
         });
         {% if form.errors %}
         $("#edit-meal-modal").modal("show");
		 {% endif %}
  });

  $(document).ready(function() {    
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek'
      },
    timeFormat: {
          agenda: 'H' //h:mm{ - h:mm}'
      },
      events: '/shopping/meal/',
      dayClick: function(date, jsEvent, view) {
        $("#id_meal_date").val(moment(date).format('DD/MM/YYYY'));
        $("#add-meal-modal").modal("show");
  	  },
  	  eventRender: function (event, element) {
        element.click(function() {
          // get form in html before filling the modal
          $.ajax({
            url: '/shopping/meal/form/'+ event.id,
            dataType: 'html', 
            })
            .done(function( data ) {
              $('#edit-meal-form-body').html(data);
              $('#edit-meal-form').attr('action', 'edit/' + event.id)
              $('#edit-meal-modal').modal();
            })
            .fail(function(request, status, error) {
              console.log(request + '/' + status + '/' + error)
            });
        });
   	 }
      
    })
  });
  
  $( "#id_recipe" ).change(function() {
    $.ajax({
      url: '/shopping/recipe/details/'+ $( "#id_recipe" ).val(),
      dataType: 'json', 
    })
      .done(function( data ) {
        $( "#id_servings" ).val(data['servings']);
      })
      .fail(function(request, status, error) {
        console.log(request + '/' + status + '/' + error)
      });
  });
</script>
{% endblock %}

