{% extends "base.html" %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block content %}

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Category</th>
        <th>Ingredient</th>
        <th>Quantity</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for element in elements %}
        <tr>
          <td>{{ element.ingredient.category.name }}</td>
          <td>{{ element.ingredient.name }}</td>
          <td>{{ element.details }}</td>
          <td><a href="/shopping/{{ recipe.id }}/remove_element/{{ element.id }}"><i class="glyphicon glyphicon-remove"></i></a></td>
        <tr>
      {% endfor %}

      <tr>
        <form action="{% url 'shopping:add_element' recipe.id %}" method="post">
          <td/>
          <td>
            {% for ingredient in Ingredient.objects.all %} 
                <option value="ingredient">{{ ingredient.name }}</option>
            {% endfor %}  
          </td>
          <td>
            {% for unit_measurement in UnitMeasurement.objects %} 
                <option value="unit_measurement">{{ unit_measurement.name }}</option>
            {% endfor %}  
          </td>
          <td><input type="submit" value="Add"><i class="glyphicon glyphicon-add"></i></input></td>
        </form>
      </tr>
    </tbody>
  </table>
{% endblock %}

