{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block content %}

  <table class="table table-striped">
    <thead>
      <tr>
        <th>{% trans "Category" %}</th>
        <th>{% trans "Ingredient" %}</th>
        <th>{% trans "Quantity" %}</th>
        <th>{% trans "Action" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for element in elements %}
        <tr>
          <td>{{ element.ingredient.category.name }}</td>
          <td>{{ element.ingredient.name }}</td>
          <td>{{ element.details }}</td>
          <td>
            <div class="btn-toolbar">
              <div class="btn-group">
                <a href="/shopping/recipe/{{ recipe.id }}/element/edit/{{ element.id }}"><i class="glyphicon glyphicon-edit button-tooltip" data-toggle="tooltip" title="{% trans "Edit" %}"></i></a>
                <a href="/shopping/recipe/{{ recipe.id }}/element/remove/{{ element.id }}"><i class="glyphicon glyphicon-remove button-tooltip" data-toggle="tooltip" title="{% trans "Delete" %}"></i></a>
              </div>
            </div>
          </td>
        <tr>
      {% endfor %}
    </tbody>
  </table>
  
  
  <form class="form-inline" role="form" action="" method="post">
    {% csrf_token %} 
    
    {{ form.recipe }}
    {{ form.shoppinglist }}
    <div class="form-group">
      {{ form.ingredient | bootstrap }}
    </div>
    <div class="form-group">
      {{ form.quantity | bootstrap }}
    </div>
    <div class="form-group">
      {{ form.unit_measurement | bootstrap }}
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-primary" value="{% trans "Add ingredient" %}"/>
    </div>
  </form>
{% endblock %}

