{% extends "base.html" %}

{% block title %}My recipes{% endblock %}

{% block content %}

{% if latest_recipe_list %}
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>Recipe</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for recipe in latest_recipe_list %}
        <tr>
          <td><a href="/shopping/{{ recipe.id }}/">{{ recipe.name }}</a></td>
          <td>
            <div class="btn-toolbar">
              <div class="btn-group">
                <a href="/shopping/recipe/edit/{{ recipe.id }}"><i class="glyphicon glyphicon-edit"></i></a>
                <a href="/shopping/recipe/delete/{{ recipe.id }}"><i class="glyphicon glyphicon-remove"></i></a>
              </div>
            </div>
          </td>
        <tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
    <p>No recipes are available.</p>
{% endif %}


<a href="{% url "shopping:recipe_new" %}" class="btn btn-primary">Add new recipe</a>

{% endblock %}
