{% extends "base.html" %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block content %}

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Category</th>
        <th>Ingredient</th>
        <th>Quantity</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for element in elements %}
        <tr>
          <td>{{ element.ingredient.category.name }}</td>
          <td>{{ element.ingredient.name }}</td>
          <td>{{ element.details }}</td>
          <td><a href="/shopping/{{ recipe.id }}/remove_element/{{ element.id }}"><i class="glyphicon glyphicon-remove"></i></a></td>
        <tr>
      {% endfor %}
    </tbody>
  </table>
  
  
  <form action="" method="post">{% csrf_token %}
    {% csrf_token %} 
    {% load bootstrap %}
    {{ form|bootstrap }}
    <input type="submit" class="btn btn-primary" value="Add ingredient"/>
  </form>
{% endblock %}

