{% extends "base.html" %}

{% block title %}{{ shoppinglist.name }}{% endblock %}

{% block content %}

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Category</th>
        <th>Ingredient</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      {% for element in elements %}
        <tr>
          <td>{{ element.0 }}</td>
          <td>{{ element.1 }}</td>
          <td>{{ element.2 }}</td>
        <tr>
      {% endfor %}
    </tbody>
  </table>
  
  
  <form action="" method="post">{% csrf_token %}
    {% csrf_token %} 
    {% load bootstrap %}
    {{ form|bootstrap }}
    <input type="submit" class="btn btn-primary" value="Add ingredient"/>
  </form>
{% endblock %}

