{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css"/>
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap-responsive.min.css"/> 
  <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.11.1.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
  
  <link rel='stylesheet' href='{{STATIC_URL}}css/fullcalendar/fullcalendar.css' />
  <script src='{{STATIC_URL}}js/jquery.min.js'></script>
  <script src='{{STATIC_URL}}js/moment.min.js'></script>
  <script src='{{STATIC_URL}}js/fullcalendar/fullcalendar.js'></script>
  <title>{% block title %}Shopping list{% endblock %}</title>
</head>

<body>
  <div id="top" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/shopping">{% trans "Home" %}</a>
      </div>
      
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
        {% load tags %}
          <li class="{% active current_path "^/shopping/recipe" %}"><a href="/shopping/recipe">{% trans "Recipes" %}</a></li>
          <li class="{% active current_path "^/shopping/ingredient" %}"><a href="/shopping/ingredient">{% trans "Ingredients" %}</a></li>
          <li class="{% active current_path "^/shopping/list" %}"><a href="/shopping/list">{% trans "Shopping lists" %}</a></li>
          <li class="{% active current_path "^/shopping/meal" %}"><a href="/shopping/meal">{% trans "Meals" %}</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">  
        {% if user.is_authenticated %}
          
          {% if user.is_superuser %}
          <li><a href="/admin" target="_blank">{% trans "admin" %}</a></li>
          {% endif %}
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">{% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/shopping/accounts/logout">{% trans "Logout" %}</a></li>
              </ul>
            </li>
        {% else %}
          <li><a href="/shopping/accounts/login/">{% trans "Login" %}</a></li>
        {% endif %}
          
        </ul>  
      </nav>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 ">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
</body>
</html>

<script type="text/javascript">
  $(document).ready(function() {
    $('.button-tooltip').tooltip();
  });
</script>